name: Release binaries

on: [push]

jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      matrix:
        platform:
          - os-name: Linux-x86_64
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - os-name: Linux-aarch64
            runs-on: ubuntu-latest
            target: aarch64-unknown-linux-gnu

    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install libdbus development packages
        run: |
          if [[ "${{ matrix.platform.target }}" == "aarch64-unknown-linux-gnu" ]] ; then
            sudo dpkg --add-architecture arm64
            sudo apt-get update
            sudo apt-get install -y libdbus-1-dev:arm64
          else
            sudo apt-get update
            sudo apt-get install -y libdbus-1-dev
          fi
          
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.platform.target }}
          override: true
          
      - name: Compile
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=${{ matrix.platform.target }}

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: ubi
          target: ${{ matrix.platform.target }}
